.admin-products-container {
    padding: 30px;
}

.admin-products-container h2{
    margin-bottom: 20px;
}

.admin-product-container h2{
    color: #F5CF9F;
}

.loading{
    padding: 40px;
    text-align: center;
    font-size: 18px;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.product-card{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align:center;
    transition: transform 0.2s ease;
}

.product-card:hover{
    transform: translateY(-5px);
}

.product-image{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius: 8px;
}

.category{
    font-size: 14px;
    color: #777;
}

.price{
    font-weight: bold;
    margin-top: 5px;
}