.auth-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*background slideshow*/
/*.auth-page::before{
    content:"";
    position: fixed;
    inset:0;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    animation:bgSlide 15s infinite;
    z-index: -2;
}*/

/* Dark overlay for readability */
.auth-page::after{
    content:"";
    position:absolute;
    inset:0;
    background-color:rgba(0,0,0,0.45);
    z-index:-1;
}

.slideshow{
    position: fixed;
    inset:0;
    z-index:-2;
}

.slideshow-image{
    position:absolute;
    inset:0;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    opacity:0;
    animation:imageFade 30s infinite;
}

.slideshow-image-1{
    background-image: url(../assets/background_auth1.jpg);
    animation-delay:0s;
}
.slideshow-image-2{
    background-image: url(../assets/background_auth2.jpg);
    animation-delay:5s;
}
.slideshow-image-3{
    background-image: url(../assets/background_auth3.jpg);
    animation-delay:10s;
}
.slideshow-image-4{
    background-image: url(../assets/background_auth4.jpg);
    animation-delay:15s;
}
.slideshow-image-5{
    background-image: url(../assets/background_auth5.jpg);
    animation-delay:20s;
}
.slideshow-image-6{
    background-image: url(../assets/background_auth6.jpg);
    animation-delay:25s;
}

@keyframes imageFade{
    0% {opacity: 0;}
    8.33% {opacity: 1; }
    16.66% {opacity: 1; }
    25% {opacity: 0; }
    100% {opacity: 0; }
}
.auth-form{
    position:relative;
    z-index:1;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 30px;
    width: 350px;
    margin-right:80px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.auth-form h2{
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight:600;
    color: #111;
}

.auth-form input{
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.auth-form input::placeholder{
    color: #ccc;
}

.auth-form button{
    width: 100%;
    padding: 12px;
    background: #9667E0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor:pointer;
}

.auth-form button:hover{
    background-color: #1e40af;
}