.home-container{
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/background_homepage.jpg');
    background-size:cover;
    background-position:center;
    position: relative;
    color:#CDF5FB;
    font-family:Arial, sans-serif;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.welcome-note{
    margin-top: 40px;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

.content{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
    gap:10px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    box-sizing: border-box;

}

.left{
    
    display: flex;
    flex-direction: column;
    gap:20px;
    flex: 0 0 350px;
    font-size: 30px;;
}

.btn{
    padding: 12px 25px;
    background-color: #3476B1;
    width:300px;
    color:#A0D6F0;
    text-decoration:none;
    font-weight:bold;
    text-align:center;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover{
    background-color:#EFD1A8 ;
}

.right{ 
    text-align:center;
    flex:0 0 750px;
    font-size: 2rem;
    line-height: 1.5;
}